Django==5.2
daphne==4.1.2
channels==4.1.0
channels-redis==4.2.0
django-allauth==0.57.0
argon2-cffi==25.1.0
gunicorn==23.0.0
whitenoise==6.7.0
dj-database-url==2.2.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
requests==2.32.5
torch==2.4.1
scikit-learn==1.8.0
numpy==2.1.0
pandas==2.3.3
Pillow==12.0.0
xhtml2pdf==0.2.16
