<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
</head>
<body>

    <div class="navbar">
        <a class="active" href="#home">Home</a>

        <form action="/search/" method="GET">
            <label for="username">Player Search:</Label>
            <input type="text" name="q" placeholder="Enter Username">
            <select name="platform">
                <option value="pc">PC (Epic/Steam)</option>
                <option value="xbl">Xbox</option>
                <option value="psn">PlayStation</option>
            </select>

            <button type="submit">View Player Stats</button>
            
        </form>
    </div>

    <h1 class="Homepage-title">Homepage</h1>
</body>

</html>