{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <nav class="navbar">
        <div class="nav-container">
            <a href="{% url 'home' %}" class="logo">Gamer<span>Tracker</span></a>
            <div class="nav-links">
                {% if user.is_authenticated %}
                    <a href="{% url 'dashboard' %}">Dashboard</a>
                    <a href="{% url 'logout' %}" class="logout-btn">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'signup' %}">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="hero-section">
      <h1>Signup</h1>
      <p>Signup</p>
      <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Enter Username" />
        <input type="password" name="password" placeholder="Enter Password" />
        <button type="submit">Sign Up</button>
      </form>
    </div>
  </body>
</html>
